.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.up-control {
  background-image:url(./images/triangle-up.svg);
  background-size: cover;
  background-position: center;
}

.down-control {
  background-image:url(./images/triangle-down.svg);
  background-size: cover;
  background-position: center;
}

.left-control {
  background-image:url(./images/triangle-left.svg);
  background-size: cover;
  background-position: center;
}

.right-control {
  background-image:url(./images/triangle-right.svg);
  background-size: cover;
  background-position: center;
}

.stop-control {
  background-image:url(./images/stop-circle.svg);
  background-size: cover;
  background-position: center;
}

#root {
  min-height: 100%;
}

.all-content {
  min-height: 100%;
}

.main {
  padding-top: 40px;
  min-height: 100%;
}

.main-content {
  min-height: 100%;
}