.up-control {
  background-image: url(./images/triangle-up.svg);
  background-size: cover;
  background-position: center;
}

.down-control {
  background-image: url(./images/triangle-down.svg);
  background-size: cover;
  background-position: center;
}

.left-control {
  background-image: url(./images/triangle-left.svg);
  background-size: cover;
  background-position: center;
}

.right-control {
  background-image: url(./images/triangle-right.svg);
  background-size: cover;
  background-position: center;
}

.stop-control {
  background-image: url(./images/stop-circle.svg);
  background-size: cover;
  background-position: center;
}

#root {
  min-height: 100vh;
}

.all-content {
  min-height: 100vh;
}

.main-content {
  padding-top: 40px;
}

.dismissed-info {
  position: absolute;
  left: 95%;
  z-index: 1000;
}

button.code-copy {
  margin-left: 15px !important;
  /* float: right; */
}

.info-header {
  padding: 0px !important;
}

.info-items {
  text-align: center !important;
}

.info-item {
  text-align: center !important;
  margin: 20px !important;
  padding: 10px;
  min-width: 100px;
  background: #f9fafb;
  box-shadow: 0 2px 25px 0 rgba(34, 36, 38, 0.02) inset;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 4pt;
}

.info-item-header {
  font-weight: 700;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  margin-bottom: 5px;
}

.manual-controls {
  width: 100% !important;
  height: 100% !important;
}

.extra-controls {
  padding-top: 20px;
}

.connect-item {
  cursor: pointer;
}

.main-row {
  padding: 0px !important;
}
